---
- name: Install Docker repository into sources list
  block:
    - name: Get signing key and dearmor it
      ansible.builtin.shell:
        cmd: curl -fsSL https://download.docker.com/linux/ubuntu/gpg | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
        creates: /etc/apt/keyrings/docker.gpg

    - name: Change file ownership, group and permissions
      ansible.builtin.file:
        path: /etc/apt/keyrings/docker.gpg
        owner: root
        group: root
        mode: '0644'

    - name: Add source
      ansible.builtin.apt_repository:
        repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
        state: present
  become: true

- name: Install Docker
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
    pkg:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present
  become: true

- name: Create "docker" group
  group:
    name: "docker"
    state: present
  become: true

- name: Add remote "ubuntu" user to "docker" group
  user:
    name: "{{ lookup('env', 'USER') }}"
    groups: "docker"
    append: yes
  become: true